@tailwind base;
@tailwind components;
@tailwind utilities;

.border-t-gradient-instagram {
    border-top-width: 4px;
    border-image: linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    border-image-slice: 1;
  }
  